{
    "presets": ["es2017"],
    "plugins": ["type-metadata",
                "transform-flow-strip-types",
                "transform-class-properties",
                "transform-decorators-legacy"]
}
